<h1>Add New Post</h1>

<p>
  <form action="/new" method="POST" role="form">
<div class="form-group">
  <label for="exampleFormControlTextarea1">Example textarea</label>
  <textarea name="content" class="form-control"  rows="6" placeholder="Введите текст здесь"></textarea>
</div>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>

</p>



